/* google fonts start */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap");

/* google fonts end */
#banner h1 {
  font-family: "Kanit", sans-serif;
  font-size: 80px;
  line-height: 50px;
}
.bg_nike {
  background-color: #fff9f4;
}
.text_nike {
  color: #ff314d;
}
.nike_btn {
  color: white;
  background-color: #ff314d;
  padding: 15px 30px;
  border: 1px solid;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.5s ease;
}
.nike_btn span {
  margin-left: 10px;
}
.nike_card_bg {
  background-color: #f1f1f1;
}
.nike_price {
  color: #ffb413;
}
.ratings {
  color: rgb(255, 166, 0);
}
